/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12/06/2019, 19:41:31
    Author     : Davi
*/
*{
    margin:0px;
    border:0px;
    padding:0px;
}
#divMain{
    background-color: #EEE;
    position: relative;
    top:20px;    
    margin-left: auto;
    margin-right: auto;
    top:0px;
    width: 1440px;
    height: 900px;
}
header{
    background-color: #3A3;
    position:absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 30px;
    text-transform:uppercase;
    text-align-last:center;
}
#navMainOptions{
    background-color: #FFF;
    position:absolute;
    left: 0px;
    top: 30px;
    width: 1440px;
    height: 39px;
    border-bottom:1px;
}
h3, h5{
    margin:0px;
    border:0px;
    padding:0px;
}
ul {
    margin:10px;
    border:0px;
    padding:0px;
}
a:link{
    text-decoration:none;
}

/*CONTEUDO*/
#sectionContent{
    background-color: #FFF;
    position:absolute;
    left: 0px;
    top: 70px;
    width:1440px;
    height:800px;
}
#divContent{
    background-color: #FFF;
    position:absolute;
    left: 200px;
    top: 0px;
    width:1240px;
    height:800px;
}
#iframeContent{
    /*background-color: #000;*/
    position:absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}
/*FECHA CONTEUDO*/

/*MENU HORIZONTAL*/
#ulMainOptions li{
    /*background-color: #F00;*/
    padding:0px;
    margin:0px;
    margin-left:20px;
    margin-right:40px;
    border:0px;
    display:inline;
    font-family:Optima;
    font-size:110%;
    color:gray;
}
#ulMainOptions li a{
    color:green;
}
#ulMainOptions li a:visited{
    position:absolute;
    padding:0px;
    color:darkgreen;
}
#ulMainOptions li a:hover{
    color:lightgreen;
}
/*FECHA MENU HORIZONTAL*/

/*MENU VERTICAL ASIDE*/
#asideContentOptions{
    background-color: #EEE;
    position:absolute;
    padding-left:20px;
    margin-bottom:0px;
    left: 0px;
    top: 0px;
    width:200px;
    height:798px;
    list-style-type:none;
}
#asideContentOptions ul li{
    /*background-color: #00f;*/
    padding:0px;
    height:0px; /*ta aqui o problema do menu formulário baixo*/
    margin:0px;
    padding-left:0px;
    padding-top:10px;
    padding-bottom:30px;
    border:0px;
    font-family:Optima;
    font-size:medium;
}
#asideContentOptions li :hover{
    background-color:#DDD;
    height:100%;
}
#ulContentOptions li{
    list-style-type: none;
}
/*FECHA MENU VERTICAL ASIDE*/

/*FOOTER*/
#footerBottonBar{
    background-color: #EEE;
    position:absolute;
    left: 0px;
    top: 870px;
    width:1440px;
    height:30px;
}
#footerBottonBar li{
    margin-left:20px;
    margin-right:40px;
    top: 0px;
    width:0px;
    height:0px;
    display:inline;
}
#footerBottonBar a{
    color:#888;
    width:0px;
    height:0px;
}
#footerBottonBar li a:hover{
    background-color:green;
    height:100%;
}
